a:link {
	color: black;
	font-weight: bold;
}
a:visited {
	color: black;
	font-weight: bold;
}
a:hover {
	color: #3EFFB3;
}
a.navigation-title:hover {
	color: #3EFFB3;
}
a.navigation-link:hover {
	color: #3EFFB3;
}
.list ul li .title:hover, .list ul li .title:focus {
	color: #3EFFB3;
}
i:link {
	color: #3EFFB3;
}
i:hover {
	color: #3EFFB3;
}
i:visited {
	color: #3EFFB3;
}
.pfimg {
	border-radius: 15px;
}
.button {
	border: none;
	border-radius: 5px;
	background-color: #3EFFB3;
	color: 000;
	padding: 15px;
	transition: 0.3s;
 	display: inline-block;
  	text-decoration: none;
}
.button:hover {opacity: 0.8}
/* Dark theme custom CSS*/
body.colorscheme-dark a:link {
        color: #dadada;
        font-weight: bold;
}
body.colorscheme-dark a:visited {
        color: #dadada;
        font-weight: bold;
}
body.colorscheme-dark a:hover {
        color: #3EFFB3;
}
body.colorscheme-dark a.navigation-title:hover {
        color: #3EFFB3;
}
body.colorscheme-dark a.navigation-link:hover {
        color: #3EFFB3;
}
body.colorscheme-dark a.title:hover {
        color: #3EFFB3;
}
body.colorscheme-dark i:link {
        color: #3EFFB3;
}
body.colorscheme-dark i:hover {
        color: #3EFFB3;
}
body.colorscheme-dark i:visited {
        color: #3EFFB3;
}
body.colorscheme-dark a.title:hover, a.title:focus {
	color: #3EFFB3;
}
body.colorscheme-dark .list ul li .title:hover {
	color: #3EFFB3;
}
body.colorscheme-dark .list ul li .title:focus {
	color: #3EFFB3;
}
